<div class="mt-4 mb-5 d-flex align-self-center justify-content-center">
    <button type="button" class="btn-custom" onclick="backHome()">
        <img src="/imgs/home.png" alt="Imagem de uma casa">
    </button>
    <input type="text" name="title" id="titleMovie" class="input-custom text-light" placeholder="Search a movie">
    <button type="button" class="btn-custom" onclick="search()">
        <img src="/imgs/lupa.png" alt="Imagem de uma lupa">
    </button>
</div>